# Godot 4+ specific ignores

.godot/
.import/
android/
.nomedia

export.cfg
export_credentials.cfg
*.tmp

# Imported translations

*.translation

# Mono-specific ignores

.mono/
data_*/
mono_crash.*.json
dev_screenshots/
